@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #ffffff;
}

html,
body {
  max-width: 672px;
  margin: auto;
  overflow-x: hidden;
  height: 100%;
}

html {
  background-color: #0d0d10;
}

a {
  color: inherit;
  text-decoration: none;
}
